<div class="footer">
    <div class="wrap">
        <div class="footerlinks">
            <div class="share">
                <li><a href="#" target="_blank" title="Facebook"><span class="social fbook"> </span></a></li>
                <li><a href="#" target="_blank" title="twitter"><span class="social twitter"> </span></a></li>
                <li><a href="#" target="_blank" title="tumblr"><span class="social tumblr"> </span></a></li><br />
            </div>
        </div>
    </div>
</div>
<div class="footer1">
    <%
        var today = new Date(),
            year = today.getFullYear();
    %>
    <p class="link"><span>© <%=year%> All rights Reserved<a href="/"></a></span></p>
</div>