<!DOCTYPE HTML>
<html>
<head>
    <title>Error | LeaveTheMarks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/404.css">
</head>
<body>
<div class="wrap">
    <a href="/">
        <h1>Leave the marks</h1>
    </a>
    <div class="banner">
        <a href="/">
            <img src="/images/banner.png" alt="" />
        </a>
    </div>
    <div class="page">
        <h2>We are sorry! The page you are looking is temporarily unavailable.</h2>
    </div>
</div>
</body>
</html>